
cascading_scalding/cascading/\.idea/

cascading_scalding/cascading/\.gradle/

cascading_scalding/cascading/build/

cascading_scalding/scalding/target/

cascading_scalding/scalding/\.idea/

cascading_scalding/scalding_sbt/\.idea/

cascading_scalding/scalding_sbt/target/

*.iml

hadoop-spark/MapReduce/\.idea/

hadoop-spark/SparkByJava/target/

hadoop-spark/SparkByJava/\.idea/

hadoop-spark/SparkByScala1X/target/

hadoop-spark/SparkByScala1X/\.idea/

hadoop-spark/SparkByScala2X/\.idea/

hadoop-spark/SparkByScala2X/target/

cascading_scalding/scalding_sbt/project/project/

cascading_scalding/scalding_sbt/project/target/

hadoop-spark/SparkByScala1X/project/target/

hadoop-spark/SparkByScala2X/project/target/

hadoop-spark/MapReduceMultipleOutputs/\.idea/

hadoop-spark/MapReduceMultipleOutputs/target/

hadoop-spark/MapReduceMultipleOutputs/output/

hadoop-spark/MapReduceMultipleOutputs/data/
